<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="redbrick.csproj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="redbrick.csproj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="redbrick.csproj.Properties.Settings.ConnectionString"
            connectionString="Driver={SQL Server};SERVER=AMSTORE-SQL-05;DATABASE=ENGINEERING" />
    </connectionStrings>
    <userSettings>
        <redbrick.csproj.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="RevLimit" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>600</value>
            </setting>
        </redbrick.csproj.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <redbrick.csproj.Properties.Settings>
            <setting name="Authors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>BS</string>
                        <string>CD</string>
                        <string>CW</string>
                        <string>DF</string>
                        <string>DH</string>
                        <string>ED</string>
                        <string>JB</string>
                        <string>KC</string>
                        <string>KL</string>
                        <string>LF</string>
                        <string>SP</string>
                        <string>TH</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Materials" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ACRYLIC</string>
                        <string>ALUMINUM</string>
                        <string>BENDER</string>
                        <string>CRS</string>
                        <string>FELT</string>
                        <string>GLASS FL</string>
                        <string>GLASS LAM</string>
                        <string>GLASS TMP</string>
                        <string>HPL</string>
                        <string>HRS</string>
                        <string>MDF</string>
                        <string>MEL</string>
                        <string>OFF ALL</string>
                        <string>PB</string>
                        <string>PC</string>
                        <string>PE</string>
                        <string>PLWD</string>
                        <string>POPLAR</string>
                        <string>POSTFRM MDF</string>
                        <string>PVC</string>
                        <string>SLAB</string>
                        <string>SOLID SURF</string>
                        <string>SST</string>
                        <string>STYRENE</string>
                        <string>VAC PRESS</string>
                        <string>VENEER</string>
                        <string>VINYL</string>
                        <string>VINYL WRAP</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Customers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>JCPENNEY - 220</string>
                        <string>KMART - 239</string>
                        <string>KOHLS - 201</string>
                        <string>MACY'S  - 495</string>
                        <string>SEARS - 210</string>
                        <string>STERLING-491</string>
                        <string>TARGET - 274</string>
                        <string>WALGREENS - 510</string>
                        <string>WALMART - 505</string>
                    </ArrayOfString>
                </value>
            </setting>
        </redbrick.csproj.Properties.Settings>
    </applicationSettings>
</configuration>