<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="redbrick.csproj.Properties.Settings.ConnectionString"
            connectionString="Driver={SQL Server};SERVER=AMSTORE-SQL-05;DATABASE=ENGINEERING" />
    </connectionStrings>
</configuration>